@use "utils" as *;

body {
  font-family: "Noto Sans JP", sans-serif;
  font-display: swap;
  color: $basecolor;
  overflow-x: hidden;
  @include maintext;
}

a {
  text-decoration: none;
  color: $basecolor;
}
