@use "utils" as *;

// セクション
.hero {
  height: clamp(rem(450), vw(450, 767), rem(947));
  width: 100%;
  position: relative;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 74% center;
    vertical-align: bottom;
  }

  // ヒーローセクションのテキスト
}
