@use "utils" as *;

// セクション
.hero {
  height: clamp(rem(450), vw(450, 767), rem(947));
  width: 100%;
  position: relative;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 74% center;
    vertical-align: bottom;
  }

  // ヒーローセクションのテキスト
  &__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin-inline: auto;
  }

  &__text--right,
  &__text--left {
    writing-mode: vertical-rl;
    width: rem(102);
    height: rem(565);
    display: flex;
    align-items: center;
    background-color: #fff;
    font-size: rem(28);
    font-weight: bold;
    letter-spacing: -0.22em;

    @media screen and (max-width: 1200px) {
      width: rem(80);
      height: rem(485);
      font-size: rem(24);
    }
    @media screen and (max-width: 1000px) {
      width: rem(60);
      height: rem(400);
      font-size: rem(20);
    }
  }

  &__text--left {
    margin-top: 7%;
    margin-left: 11%;

    @media screen and (max-width: 1200px) {
      margin-top: 4%;
      margin-left: 6%;
    }
  }

  &__text--right {
    margin-top: 7%;
    margin-left: per(80, 1920);

    @media screen and (max-width: 1200px) {
      margin-top: 4%;
      margin-left: 3%;
    }
  }

  & .text__inner {
    margin-top: rem(18);
  }

  & .main-color {
    color: $maincolor;
  }
}
