// 色情報
$basecolor: #444444;
$maincolor: #21a937;

// ブレイクポイント
$breakpoints: (
  sp: "(max-width:767px)",
  tb: "(min-width:1000px)",
  pc: "(min-width:768px)",
);

// メディアクエリのmixin
@mixin mq($breakpoint) {
  @media screen and #{map-get($breakpoints,$breakpoint)} {
    @content;
  }
}

// フォントサイズのmixin
@mixin subtitlefont() {
  font-size: clamp(rem(20), vw(20, 768), rem(24));
  @include mq(pc) {
    font-size: clamp(rem(20), vw(20, 375), rem(24));
  }
}

@mixin maintext() {
  font-size: clamp(rem(12), vw(12, 768), rem(16));
  @include mq(sp) {
    font-size: clamp(rem(12), vw(12, 375), rem(16));
  }
}

// rem計算の関数
@function rem($pixel) {
  @return calc($pixel / 16 * 1rem);
}

// vwの計算関数
@function vw($fontsize, $basesize) {
  @return calc($fontsize / $basesize * 100vw);
}

// ％計算の関数
@function per($pixel, $basesize) {
  @return calc($pixel / $basesize * 100%);
}
